@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  background-size: cover;
}


.joke {
  background: url("./components/images/background.webp");
  background-size: cover;
  margin: 10px;
  height: 80.5vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 3px 3px 3px black;
  padding-left: 10%;
  padding-right: 10%;
}

.rect {
  backdrop-filter: blur(11px) saturate(148%);
  -webkit-backdrop-filter: blur(11px) saturate(148%);
  background-color: rgba(17, 25, 40, 0.38);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
}


.loading {
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
}


.setup {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 2.5rem;
}

.delivery {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
}

/* ___________________________________________________Navbar___________________________________________________ */

.navbar {
  margin: 0;
  border-bottom: 1px solid black;
  padding: 5px;
  box-shadow: 0 0 50px #000;
}

.navbar p {
  padding-left: 20px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  text-shadow: 3px 3px 5px black;
}

/* ___________________________________________________Footer___________________________________________________ */

.footer {
  display: flex;
  width: 98%;
  border-top: 1px solid black;
  box-shadow: 0 0 50px #000;
  padding: 10px 20px 10px 10px;
  justify-content: space-between;
  align-content: space-between;
}

.footer p {
  padding-left: 20px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75em;
  text-shadow: 3px 3px 5px black;
}

.footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}


.footer .icons a {
  color: #fff;
  padding: 0 0 0 10px;
}